
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>

    <!-- folha de estilo CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <!-- Aqui -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Sistema de Controle de Clientes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Página inicial <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciar Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Cliente/Cadastro">Cadastrar novo cliente</a>
                            <a class="dropdown-item" href="/Cliente/Consulta">Consultar cliente</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="card card-body bg-light">
            <h2>Sistema de Controle de Clientes</h2>
            Projeto desenvolvido em .NET CORE MVC com Dapper
        </div>
        <br />
        <div>

            <!-- Local para exibir o conteúdo das páginas -->
            @RenderBody()

        </div>
    </div>
    <!-- arquivos javascript -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>


</body>
</html>
